@model IEnumerable<lab17DatabaseDesign.Models.Destinations>
@model IEnumerable<lab17DatabaseDesign.Models.Recomendeds>
@model IEnumerable<lab17DatabaseDesign.Models.Requireds>

<h1>Travel Packer Landing page</h1>

<br />
<br />
<br />
<br />
<br />
<div class="div">
    <a class="button" href="/Destinations">Destination List</a>
</div>